@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome";
}
<h2>Welcome @ViewBag.MemberName</h2>
<h3>Hi @Context.Session.GetString("MemberName")</h3>
